[submodule "Сем6/ТМО"]
	path = Сем6/ТМО
	url = https://github.com/colan1ch/ML_sem6
[submodule "Сем1/ОП/Практика"]
	path = Сем1/ОП/Практика
	url = https://github.com/colan1ch/virtual_file_system.git
[submodule "Сем2/ПКШ/Практика"]
	path = Сем2/ПКШ/Практика
	url = https://github.com/colan1ch/TO-DO-List.git
[submodule "Сем3/Пикяп"]
	path = Сем3/Пикяп
	url = https://github.com/colan1ch/PCPL.git
[submodule "Сем4/XML"]
	path = Сем4/XML
	url = https://github.com/colan1ch/XML_LW.git
[submodule "Сем5/РИП/frontend/sql-analyzer"]
	path = Сем5/РИП/frontend/sql-analyzer
	url = https://github.com/colan1ch/sql-analyzer.git
[submodule "Сем5/РИП/backend/sql-analyzer-web-service"]
	path = Сем5/РИП/backend/sql-analyzer-web-service
	url = https://github.com/colan1ch/sql-analyzer-web-service.git
[submodule "Сем5/РИП/backend/sql-analyzer-async-web-service"]
	path = Сем5/РИП/backend/sql-analyzer-async-web-service
	url = https://github.com/colan1ch/sql-analyzer-async-web-service.git
[submodule "Сем6/СТ в АСОИУ/Курсовая/agent_level"]
	path = Сем6/СТ в АСОИУ/Курсовая/agent_level
	url = https://github.com/colan1ch/agent_level.git
[submodule "Сем6/ОПЖЦ АСОИУ"]
	path = Сем6/ОПЖЦ АСОИУ
	url = https://github.com/colan1ch/OPZHC_ASOIU.git
[submodule "Сем4/Базы данных/FootballClubs"]
	path = Сем4/Базы данных/FootballClubs
	url = https://github.com/colan1ch/FootballClubs.git
[submodule "Сем5/ОАД/affinity-analysis_IU5-54B"]
	path = Сем5/ОАД/affinity-analysis_IU5-54B
	url = https://github.com/colan1ch/affinity-analysis_IU5-54B.git
[submodule "Сем6/ТММ/DZ_TMM/BackgroundReplacer"]
	path = Сем6/ТММ/DZ_TMM/BackgroundReplacer
	url = https://github.com/colan1ch/BackgroundReplacer.git
